*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    overflow-y:hidden;   
}
.page-container{
    width: 70vw;
    height: 80vh;
    margin: 2em auto;
    background-image: url("../img/Img.png");
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
#road{
    width: 500%;
    height:140px;
    position: absolute;
    display:block;
    background: url(../img/Img_02.png);
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
}
#car{
    position:absolute;
    bottom: 8%;
    left: 24%;   
}
.obstacles{
    position:absolute;
    bottom:7%;
    right: -100%;
}
.move-right{
    animation: moveRight 6s linear infinite;
}
.suspension{
    animation: suspension 0.7s linear infinite;
}
.jump{
    animation: jump 0.7s ease-in-out ;
}

@keyframes moveRight{
    100%{
        transform: translatex(-2950px);
    }
}

@keyframes suspension{
    100%{
        transform:translateY(-1px);
    }
    50%{
        transform:translateY(2px);
    }
    0%{
        transform:translateY(-1px);
    }
}
@keyframes jump{

    100%{
        transform:rotate(10deg) translateY(0px);
        transform-origin: center center;
    }
    50%{
        transform:translateY(-100px);
    }
    0%{
        bottom: 10%;
        transform: rotate(-10deg) translateY(0px);
        transform-origin: center center;
    }
    
}

